#fields .ajt-play-icon {
    display: inline-block;
    margin-right: 3px;
    width: 14px;
    height: 14px;
    background-image: url("../icons/play.png");
    background-size: cover;
}

#fields .ajt-play-icon:hover {
    opacity: 0.8;
}

.nightMode #fields .ajt-play-icon {
    filter: invert(100%);
}

#fields .ajt-play-icon[hidden] {
    display: none;
}

#fields .d-flex {
    justify-content: flex-start;
    align-items: center;
}
